/**
 * src/styles/settings.scss
 *
 * Configures SASS variables and Vuetify overwrites
 */

// https://vuetifyjs.com/features/sass-variables/`
@use 'vuetify/settings' with (
  $utilities: (
    "fill-height": (
      property: height,
      class: fill,
      values: (
        height: 100%
      )
    ),
    "height": (
      property: height,
      responsive: true,
      class: h,
      values: (
        auto: auto,
        screen: 100vh,
        0: 0,
        5: 5%,
        10: 10%,
        20: 20%,
        25: 25%,
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        50: 50%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%
      )
    ),
    "height-screen": (
      property: height,
      class: h,
      values: (
        screen: 100dvh
      )
    ),
    "width": (
      property: width,
      responsive: true,
      class: w,
      values: (
        auto: auto,
        0: 0,
        5: 5%,
        10: 10%,
        20: 20%,
        25: 25%,
        30: 30%,
        35: 35%,
        40: 40%,
        45: 45%,
        50: 50%,
        55: 55%,
        60: 60%,
        65: 65%,
        70: 70%,
        75: 75%,
        80: 80%,
        85: 85%,
        90: 90%,
        95: 95%,
        100: 100%
      )
    )
  )
);

