@charset "utf-8";

@import "custom_authentication";

.user .photo i {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    color: $info-color;
    background-color: $white-color;
}

fieldset {
    border: 1px solid $info-color;
    position: relative;
    padding: 1rem;
    border-radius: 5px;
    margin-top: 1rem;
    margin-bottom: 0.5rem;

    legend {
        display: flex;
        width: auto !important;
        position: absolute;
        top: -11px;
        left: 10px;
        font-size: 0.9em !important;
        padding: 0 10px;
        background-color: $white-color;
        font-weight: bold;
    }
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity 0.15s;
}

.fade-enter,
.fade-leave-to /* .fade-leave-active in <2.1.8 */ {
    opacity: 0;
}

input.form-control {
    color: #000 !important;
}

label {
    font-weight: bold;
    color: #222 !important;
}
.form-check .form-check-sign:before {
    background-color: transparent !important;
    border: 3px solid #66615b;
}

.form-check-label input[type="checkbox"]:checked + .form-check-sign:before {
    background-color: #66615b !important;
}

.navbar-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.navbar {
    padding: 0 10px !important;

    .navbar-brand {
        display: none;
    }

    .logoutButtonWrapper {
        position: relative;
    }
    .logoutWrapper {
        position: absolute;
        top: 50px;
        right: -2px;
        min-width: 150px;
        background-color: #fff;
        border-radius: 12px;
        padding: 12px;
        display: none;
        line-height: 20px;
    }
    .logoutWrapper i {
        line-height: 20px;
        margin-right: 10px;
    }
    .logoutWrapper a {
        text-decoration: none;
        color: #333;
    }
    .logoutWrapper a:hover {
        color: #09f;
    }
    .logoutWrapper::before {
        content: "";
        border: 10px solid;
        border-color: transparent transparent #fff transparent;
        position: absolute;
        top: -20px;
        right: 12px;
    }
    .logoutButtonWrapper:hover .logoutWrapper {
        display: flex;
    }

    .logoutButton {
        display: block;
    }
    @media screen and (max-width: 991px) {
        .navbar-minimize {
            display: none;
        }
    }

    .navbar-toggler span {
        background-color: #333 !important;
    }
}

.main-panel {
    .content {
        padding: 78px 5% 0 !important;
        margin-top: 2rem !important;
        min-height: calc(100vh - 60px) !important;

        @media screen and (min-width: 720px) {
            padding: 78px 1.5rem 0 !important;
            margin-top: 1.5rem !important;
            min-height: calc(100vh - 60px) !important;
        }
    }
}

.footer {
    padding: 0 5% !important;
    line-height: 30px;

    p {
        margin-bottom: 0 !important;
    }

    @media screen and (min-width: 720px) {
        padding: 0 1.5rem !important;
        line-height: 30px;
    }
}

.navigation-path {
    margin-bottom: 1rem;
    font-size: 0.8rem;
    display: flex;
    line-height: 20px;
}
.navigation-path a,
.navigation-path i {
    color: #09f;
    line-height: 20px;
    margin-left: 0.5rem;
}

.people-details {
    background-color: #fff;
    margin-bottom: 1rem;
    box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 6px 10px -4px rgba(0, 0, 0, 0.15);
    border-radius: 12px;
    flex-direction: column;
}

.register-image div {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 !important;
}
.register-image figure {
    width: 140px;
    min-height: 160px;
    display: table;
    background-color: #ccc;
    align-self: center;
    position: relative;
}
.register-image figure .button-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    width: 140px;
    height: 100%;
    min-height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    display: none;
    cursor: pointer;
}
.register-image figure .button-wrapper i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
}
.register-image figure:hover .button-wrapper {
    display: flex;
}
.register-image figure img {
    width: 100%;
    height: 100%;
}

.el-table .td-actions .cell {
    display: flex;
    justify-content: center;
    align-items: center;
}
.el-table .td-actions .cell a {
    color: #135689;
}
.el-table .td-actions .cell button i.fa-spin {
    position: relative !important;
    top: 0;
    left: 0 !important;
}
.el-table td div {
    word-break: break-word !important;
}

.el-table__header-wrapper {
    margin: 0 !important;
    width: 100% !important;
    background-color: rgba(105, 105, 105, 1) !important;
    display: flex;
}

.el-table tbody {
    background-color: #fff !important;
}
.el-table tbody tr:nth-of-type(2n + 2) {
    background-color: #fbfbfb !important;
    /* background-color: rgba(19, 86, 137, .1) !important; */
}
.el-table--enable-row-hover .el-table__body tr:hover > td {
    background-color: #b0bed9 !important;
    /* background-color: rgba(19, 86, 137, .7) !important; */
    /* color: #fff !important; */
}
.el-table--border {
    /* border: none !important; */
    border: 1px solid #dee2e6 !important;
}
.el-table--border::after {
    right: initial !important;
}
.el-table--border td {
    border: 1px solid #dee2e6 !important;
    border-right: 1px solid #dee2e6 !important;
    border-left: 1px solid #dee2e6 !important;
    border-top: 1px solid #dee2e6 !important;
    border-bottom: 1px solid #dee2e6 !important;
}
.el-table thead {
    color: #fff !important;
    background-color: rgba(105, 105, 105, 1) !important;
}
.el-table th.is-leaf {
    border-bottom: none !important;
}

// .el-table__fixed-right {
//     height: calc(100% - 20px) !important;
// }
.el-table--scrollable-x {
    .el-table__fixed-right {
        height: calc(100% - 17px)!important;
    }
}

.el-table__fixed-right {
    box-shadow: 0 -9px 10px 0px rgba(0, 0, 0, 0.20);
    -webkit-box-shadow: 0 -9px 10px 0px rgba(0, 0, 0, 0.20);
    &:before{
        background-color: transparent!important;
    }
}

.toggle-table-button {
    background-color: #941e1f;
    color: #fff !important;
    text-decoration: none;
    border-radius: 7px;
    padding: 5px 12px;
    cursor: pointer;
    margin-bottom: 2rem;
}
.toggle-table-button:hover {
    text-decoration: none;
    color: #fff !important;
}
.toggle-table-button h5 {
    margin-bottom: 0;
    font-size: 1.2rem;
}
.toggle-table-button h5 i {
    font-size: 1rem;
    line-height: 30px;
}

textarea::-webkit-input-placeholder,
input::-webkit-input-placeholder {
    color: #ccc !important;
}
.select-primary.el-select .el-input input {
    color: #444 !important;
}
.el-select .el-input.is-disabled .el-input__inner {
    background-color: #E3E3E3 !important;
    cursor: not-allowed;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
input[type="number"],
input[type="date"] {
    -moz-appearance: textfield;
}

.form-check-danger {
    color: #dc3545;
}
.form-check-danger input[type="radio"] + .form-check-sign::before,
.form-check-danger input[type="checkbox"] + .form-check-sign::after,
.form-check-danger input[type="radio"] + .form-check-sign::after,
.form-check-danger input[type="checkbox"] + .form-check-sign::before {
    color: #dc3545 !important;
    border-color: #dc3545 !important;
}

.image-modal-wrapper {
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
    background-color: rgba(0, 0, 0, 0.9);
    color: #fff;
}
.image-modal-content {
    text-align: center;
}
.image-modal-header {
    width: 100%;
    height: 50px;
}
.image-modal-header h5 {
    margin-bottom: 0 !important;
    line-height: 50px;
}
.image-modal-body {
    width: 100%;
    height: calc(100vh - 110px);
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-modal-footer {
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.image-modal-footer a {
    display: block;
    width: 50px;
    height: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.3);
    color: #fff;
    cursor: pointer;
}

.alert.open {
    max-width: calc(100vw - 2.5rem);
}

@media screen and (min-width: 1200px) {
    .auth-header > .row ul {
        flex-direction: row;
    }
    .auth-header {
        text-align: left;
    }
    .auth-header h3 {
        text-align: right;
    }
    .people-details {
        flex-direction: row;
    }
}

@media all and (min-width: 992px) and (max-width: 1199px) {
    .btn-lg-block {
        width: 100% !important;
        display: block !important;
    }
}

@media all and (min-width: 768px) and (max-width: 991px) {
    .btn-md-block {
        width: 100% !important;
        display: block !important;
    }
}

@media all and (min-width: 576px) and (max-width: 767px) {
    .btn-sm-block {
        width: 100% !important;
        display: block !important;
    }
}

@media all and (max-width: 575px) {
    .btn-xs-block {
        width: 100% !important;
        display: block !important;
    }
}

.btn-outline-default {
    line-height: 1.05em !important;
}
a.btn-default,
a.btn-info,
a.btn-table {
    color: #fff !important;
}


.text-default {
    font-size: 12px !important;
}

.nav-tabs-navigation {
    border-bottom: none !important;
    text-align: left !important;
}
.nav-tabs .nav-item {
    margin-right: 0.5rem;
    border-radius: 1rem;
    min-width: 220px;
    margin-bottom: 1rem !important;
}
.nav-tabs .nav-item .nav-link {
    color: #135689 !important;
    border: 2px solid #135689 !important;
    text-align: center;
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
    padding: 0 1rem !important;
    line-height: 45px;
    margin: 0 !important;
}

.nav-pills-primary .nav-item .nav-link.active {
    border-top-left-radius: 1.5rem !important;
    border-top-right-radius: 1.5rem !important;
    border-bottom-left-radius: 1.5rem !important;
    border-bottom-right-radius: 1.5rem !important;
    background: #135689 !important;
    color: #fff !important;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.3);
    border: 2px solid #135689 !important;
}

.nav-tabs .nav-item .nav-link.active:before,
.nav-tabs .nav-item .nav-link.active:after {
    display: none !important;
}
.text-link {
    color: #135689 !important;
}
.bg-link {
    background-color: #09f !important;
}
.table-legend {
    line-height: 1rem;
}
.table-legend span {
    margin-left: 1rem;
}
.table-legend span::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.table-legend span.current::before {
    background-color: #000;
}
.table-legend span.history::before {
    background-color: #135689;
}
.table-legend span.second::before {
    background-color: #38c573;
}
.table-legend span.inactive::before {
    background-color: #941e1f;
}
.textArea800 {
    height: 230px !important;
    max-height: 230px !important;
}

.dataTable-legend {
    line-height: 1rem;
}
.dataTable-legend span {
    margin-left: 1rem;
}
.dataTable-legend span::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.dataTable-legend span:nth-of-type(1)::before {
    background-color: #000;
}
.dataTable-legend span:nth-of-type(2)::before {
    background-color: #135689;
}
.dataTable-legend span:nth-of-type(3)::before {
    background-color: #f00;
}

.dataTable-legend-detail {
    line-height: 1rem;
}
.dataTable-legend-detail span {
    margin-left: 1rem;
}
.dataTable-legend-detail span::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.dataTable-legend-detail span:nth-of-type(1)::before {
    background-color: #000;
}
.dataTable-legend-detail span:nth-of-type(2)::before {
    background-color: #135689;
}
.dataTable-legend-detail span:nth-of-type(3)::before {
    background-color: #000;
}
.dataTable-legend-detail span:nth-of-type(4)::before {
    background-color: #f00;
}

/*legenda dataTable substituição detalhes*/
.dataTable-legend-replacement-detail {
    line-height: 1rem;
}
.dataTable-legend-replacement-detail span {
    margin-left: 1rem;
}
.dataTable-legend-replacement-detail span::before {
    content: "";
    width: 0.7rem;
    height: 0.7rem;
    display: inline-block;
    border-radius: 50%;
    margin-right: 5px;
}
.dataTable-legend-replacement-detail span:nth-of-type(1)::before {
    background-color: #000;
}
.dataTable-legend-replacement-detail span:nth-of-type(2)::before {
    background-color: #135689;
}
.dataTable-legend-replacement-detail span:nth-of-type(3)::before {
    background-color: #67c23a;
}
.dataTable-legend-replacement-detail span:nth-of-type(4)::before {
    background-color: #f00;
}
/*Fim legenda dataTable substituição detalhes*/

.el-tooltip__popper {
    min-width: 200px;
    max-width: 700px;
    margin-left: 50px;
    margin-right: 30px;
}

/* para o componente transfer */
.el-transfer-panel {
    padding: 0px !important;
    width: 90% !important;
}
.el-transfer-panel__header {
    background-color: #005789 !important;
}
.el-transfer-panel__header .el-checkbox__label {
    color: white !important;
    font-weight: bolder !important;
    font-size: 12px !important;
}
.el-transfer-panel__header .el-checkbox__label span {
    color: white !important;
    font-weight: bolder !important;
    font-size: 12px !important;
}
.el-transfer__button {
    background-color: #005789 !important;
    color: white !important;
}
.el-input__inner {
    padding-left: 30px !important;
}

.el-result-item{
    max-width: 100%;
    box-sizing: border-box;
    overflow-x: auto;
    border: 1px solid #c2c2c2;
    padding: 1rem;
    margin-bottom: 1rem;
    border-radius: 10px;

    .document-title {
        display: flex;
        justify-content: space-between;
        background-color: #cecece;
        margin-bottom: 1rem;
        align-items: center;
        padding: 5px;
        border-radius: 5px;

        h1 {
            font-weight: bold;
            font-size: 1.5rem;
            text-transform: uppercase;
            margin-bottom: 0;
        }
    }

    .document-label {
        font-weight: bold;
        font-size: 1rem;
    }

    .document-label ~ .col-12 {
        text-align: justify;
        padding-right: 2rem;

        em {
            color: #005BB5;
  			font-style: normal;
  			font-weight: bold;
        }

        .content-container {
            height: 200px;
            overflow: hidden;
            transition: height 300ms ease-in-out;
            -webkit-transition: height 300ms ease-in-out;
            margin-bottom: 1rem;
        }
        .content-container.show {
            display: block;
            height: auto;
            overflow: visible;
            transition: height 300ms ease-in-out;
            -webkit-transition: height 300ms ease-in-out;
        }
    }

    @media screen and (min-width: 768px) {
        .document-label {
            display: flex;
            flex-direction: row-reverse;
        }
    }
}

.sentenca_header{
    height: 150px;
    background: white
}

.sentenca_navbar{
    background-color: linear-gradient(to right, $primary-color, $primary-degrade);
}

.button-responsive {
    @media (max-width: 768px) { // Em telas menores (mobile)
      font-size: 14px;  // Reduz um pouco o tamanho do texto
      padding: 8px 12px; // Ajusta o espaçamento interno
      width: auto; // Permite que o botão se ajuste ao conteúdo
      right: 0; // Cola os botões na margem direita
      left: auto; // Remove a posição à esquerda
    }
}
