.auth-header {
    width: 100%;
    height: 70px;
    background-color: $primary-color;
    display: flex;
    justify-content: space-between;
    padding: 0 5%;

    > img {
        width: 240px;
        height: 55px;
        margin-top: 8px;
    }

    > h5 {
        color: $white-color;
        line-height: 50px;
        display: none;
        font-weight: bold;
        position: relative;
        left: -100px;
        line-height: 50px;
        margin: 10px;
    }

    a {
        width: 30px;
        height: 30px;
        margin: 17px 0;
        text-align: right;
        display: block;
        border-radius: 50%;
        line-height: 30px;
        text-align: center;
        color: $white-color;
        border: 2px solid $white-color;

        i {
            position: relative;
            top: -2px;
        }
    }
    a:hover {
        background-color: $white-color;
    }

    .v-dialog-container div:first-of-type {
        height: 50vh !important;
        overflow: auto;
    }

    @media screen and (min-width: 720px) {
        > h5 {
            display: block;
        }
        padding: 0 2rem;
    }
}

.auth-info {
    background-color: $primary-color;
    background-image: $primary-states-color;
    color: $white-color;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
        padding: 0;
        margin: 0;
        list-style-type: none;
        display: flex;
        flex-direction: column;
        width: 100%;  /* Garante que a lista ocupe 100% do contêiner */
        max-width: 1200px; /* Limita a largura da lista em telas grandes */
        justify-content: center; /* Centraliza a lista se necessário */

        li {
            line-height: 20px;
            margin-right: 10px;
            font-size: 0.8rem;
        }
    }

    @media screen and (min-width: 720px) {
        padding: 0 2rem;
        ul {
            flex-direction: row;
            width: auto;  /* Permite que a lista ocupe a largura necessária em telas grandes */
            justify-content: space-between; /* Distribui os itens com mais espaçamento */
        }
    }
}


.auth-content {
    .container {
        min-height: calc(100vh - 210px);
        display: flex;
        justify-content: center;
        align-items: center;
    }

    h3 {
        i {
            width: 40px;
            height: 40px;
            line-height: 40px;
            text-align: center;
            background-color: #ccc;
            color: $white-color;
            border-radius: 50%;
            font-size: 1.7rem;
        }
    }

    form {
        .form-group {
            .text-info {
                color: #09f !important;
                float: right;
            }
        }
    }
}

.auth-footer {
    width: 100%;
    height: 80px;
    background: #696969;
    padding: 12px 5%;
    display: flex;
    flex-direction: column;
    color: $white-color !important;
    position: fixed;
    bottom: 0 !important;

    > div {
        display: block;
        flex-basis: 100%;
        width: 100%;
        margin-bottom: 1rem;

        strong {
            font-size: 1.1rem;
            font-weight: 400;
            display: table;
            line-height: 30px;
        }

        ul {
            margin: 2px 0 0 0;
            padding: 0;
            list-style-type: none;

            li {
                font-size: 1rem;

                i {
                    width: 20px;
                    margin-right: 5px;
                }

                a {
                    color: $white-color;
                    text-decoration: none;
                }
            }
        }
    }
    > div:last-of-type {
        text-align: center;
        margin-bottom: 0;
        strong {
            width: 100%;
        }
    }

    @media screen and (min-width: 720px) {
        padding: 12px 2rem;
        flex-direction: row;
        justify-content: space-between;

        > div {
            flex-basis: 48%;
            width: 48%;
            margin-bottom: 0;
        }
    }
}
